@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.navbar {
    width: 100%;
    background-color: #F7F4F3;
    padding: 10px 50px;
}
.logo {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}
.logo span {
    color: red;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 28px;
}
.navbar-toggler i {
    font-size: 24px;
    color: #BA1B1D;
}
.main-btn1 i{
    color: #000;
}
.search {
    border-right: 1px solid #000;
    padding-right: 20px;
}
.landing {
    min-height: 90vh;
    background-image: url("https://i.ibb.co/VMxv6Zb/Headphone-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
    margin: 0 10px;
}
.content {
    padding-top: 310px;
    padding-left: 50px;
}
.content h3 {
    font-size: 24px;
    font-weight: 500;
}
.content h2{
    font-size: 60px;
    font-weight: 700;
}
.main-btn {
    padding-left: 50px;
    margin-top: 30px;
}
.main-btn a {
    background-color: #BA1B1D;
}
.description {
    padding-left: 50px;
    margin-top: 280px;
}
.description h3 {
    font-weight: 600;
}
.description p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: left;
}
.card-body {
}
.card-img {
    height: 300px;
    object-fit: cover;
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Discovre a {
    color: white;
    background-color: #BA1B1D;
    padding: 10px;
    border-radius: 10px;
}
.card-img {
    filter: brightness(0.5);
    transition: 0.3s ease;
}
.card {
    transition: .3s ease;
}
.card:hover{
    transform: scale(1.1);
}
.discover-btn {
    margin-top: 20px;
}
.text-overlay2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    padding-left: 20px;
}
.cont {
    gap: 10px;
}
.cont  i{
    font-size: 30px;
    transform: translateY(-50%);
    color: #BA1B1D;
    padding-left: 20px;
}
.banner {
    min-height: 30vh;
    margin:0 10px;
}
.banner img {
    border-radius: 20px;
    object-fit: cover;
}